.banner-container {
    width: 100%;
    margin-block: 1rem;
    background-color: antiquewhite;
    border-radius: .5rem;
    padding: 1rem;
    background-image: linear-gradient(to right top, #210e19, #371230, #4a164d, #552071, #53309a, #552e96, #572b92, #59298e, #55175e, #421037, #270d1b, #000000);
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px;
}

.banner--img {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}

.banner--botton {
    grid-column-start: 1;
    grid-row-start: 3
}

.banner--title {
    grid-column-start: 1;
    grid-row-start: 1;
}