@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: hsla(240, 3%, 6%, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  font-weight: bolds;
  font-style: normal;
  font-style: normal;
  background-image: linear-gradient(to right, #f2f3f6, #f5f5f8, #f7f7f9, #fafafb, #fcfcfd, #fcfcfd, #fcfcfc, #fcfcfc, #fafafa, #f8f8f8, #f6f6f6, #f4f4f4);
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 1rem;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "Bebas Neue", serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  padding: 2rem;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  gap: 3rem;
  background-color: #FFFFFF;

  @media screen and (max-width: 470px) {
    padding: 0;
  }
}

:where(.container-form-login,
  .container-form-register,
  .container-form-forgotPassword,
  .container-form-checkEmail,
  .container-form-newPassword) {
  width: 100%;
  max-width: 400px;
}

.container-form-forgotPassword .header-form {
  position: relative;
  padding-top: 5rem;
}

.container-form-checkEmail .header-form button {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background-color: hsla(0, 100%, 50%, 0.171);
  font-size: 2.5rem;
  color: hsl(32, 100%, 50%);
  border: none;
  margin-bottom: 1.5rem;
}

.container-form-forgotPassword .header-form button {
  position: absolute;
  top: 0%;
  left: 0;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  color: hsl(228, 22%, 13%);
}

.container-form-newPassword .header-form {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}

.container-form-newPassword .header-form button {
  position: absolute;
  top: 0%;
  left: 0;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  color: hsl(228, 22%, 13%);
}

.wrapper .header-form {
  text-align: center;
  display: grids;
  place-items: center
}

.header-form .form-logo {
  width: 100px;
  display: block;
  height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-block: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.header-form p {
  font-size: 1rem;
}

.form {
  width: 100%s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
}

.form-group input {
  padding: 1rem;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: hsla(240, 95%, 7%, 0.796);
  font-weight: 500;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: .5rem;
  transition: 200ms ease-in-out;

  &:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(0, 149, 255, 0.3) 0px 0px 0px 3px;
  }

  &::placeholder {
    color: hsla(240, 95%, 7%, 0.796);
  }

}

.form-group.error input {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(197, 142, 142, 0.15) 0px 0px 0px 1px,
    rgba(255, 0, 0, 0.3) 0px 0px 0px 3px;
}

.form-group i.ri-eye-off-fill {
  position: absolute;
  font-size: 1.2rem;
  top: 80%;
  right: 1rem;
  transform: translateY(-80%);
  cursor: pointer;
  color: #6e7072;
}

.form-group label {
  font-size: 1rem;
  font-weight: 600;
}

.form .form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form .form-botton {
  width: 100%;
  padding-block: .6rem;
  font-family: inherit;
  font-size: 1rem;
  border-radius: .5rem;
  border: none;
  font-weight: 600;
  background-color: hsl(228, 22%, 13%);
  color: white;
  cursor: pointer;
  margin-block-start: 1rem;
  transition: 200ms ease-in-out;

  &:hover {
    background-color: hsl(228, 12%, 8%);
  }
}

.form-footer {
  width: 100%;
  margin-block-start: 2.5rem;

}

.form-footer .form-hr {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 71%);

}

.form-footer .form-hr::before {
  content: "Or sign in with";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-inline: .5rem;
  font-size: 1rem;
  color: hsl(228, 22%, 13%);
  font-weight: 600;
}

.container-form-register .form-hr::before {
  content: "Or sign up with";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-inline: .5rem;
  font-size: 1rem;
  color: hsl(228, 22%, 13%);
  font-weight: 600;
}

.singIn-social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  gap: 1.6rem;

  @media screen and (max-width: 470px) {
    flex-direction: column;

  }
}

.singIn-social button {
  flex: 1;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: .7rem 0;
  border: none;
  border-radius: .3rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.singIn-social button i {
  font-size: 1.3rem;

  &.ri-google-fill {
    color: hsl(5, 69%, 54%);
  }

  &.ri-github-fill {
    color: hsl(221, 100%, 54%);

  }
}

.form-link {
  margin-block: 1rem;
  text-align: center;
}

.hidden {
  display: none;
}

/* .singIn-social button:hover {
  background-color: hsl(228, 22%, 13%);
  color: white;
} */